<div class="box">
  <h2>{{title}}</h2>
  <ul id="education" class="clearfix">
    <education-item when="2013" what="Masters Honors" where="Honors College, University of Groningen">
      Emphasis in interdisciplinary approaches and introduction to various theories regarding leadership, such as
      neurobiology, history, and innovation.
    </education-item>

    <education-item when="2013" what="MSc Computing Science" where="University of Groningen">
      Emphasis in software architecture, software engineering, and distributed systems.
    </education-item>

    <education-item when="2010" what="BSc Automation Engineering and Control Systems Theory"
                    where="Alexander Technological Educational Institute of Thessaloniki">
      Emphasis in computer and software engineering, electronics, process systems engineering, control systems
      engineering, and mechatronics.
    </education-item>
  </ul>
</div>
