body {
    font-family: 'Quicksand', sans-serif;
    color: #3e3e3e;
    text-align: center;
    font-size: 18px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.center-container {
    position: relative;
    height: 100vh;
    margin-top: -135px;
    margin-bottom: -40px;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-top {
    margin-top: 20px;
}

.margin-top--large {
    margin-top: 40px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.fa {
    color: #d0d0d0;
}

.social-link {
    display: inline-block;
    animation-name: show-out;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.social-link:not(:first-child) {
    margin-left: 30px;
}

.social-link a {
    font-size: 30px;
}

.footer {
    line-height: 40px;
    font-size: 14px;
}

.contact-chooser {
    height: 40px;
    width: 40px;
    margin: 40px auto;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    animation-name: stretch-out;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.contact-chooser:hover {
    animation-name: stretch-in;
}

.contact-chooser:hover .social-link {
    animation-name: show-in;
}

.contact-chooser__inner {
    height: 40px;
    font-size: 30px;
}

.contact-chooser__inner .fa-info {
    padding: 5px 0;
}

.contact-chooser__inner:hover .fa-info {
    display: none;
}

.contact-chooser__inner:hover .contact-chooser__links {
    display: block;

}

.contact-chooser__links {
    display: none;
    padding: 5px 0;
}

.contact-chooser__links .fa-github {
    color: #333333;
}

.contact-chooser__links .fa-twitter {
    color: #2AA3EF;
}

.contact-chooser__links .fa-linkedin {
    color: #2A85BA;
}

@keyframes stretch-in {
    100% {
        width: 200px;
        border-radius: 3px;
    }
}

@keyframes stretch-out {
    from {
        width: 180px;
        border-radius: 3px;
    }
    to {
        width: 40px;
        border-radius: 50%;
    }
}

@keyframes show-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes show-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
