@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

body {
  font-family: "Source Code Pro", sans-serif;
  color: #6dc2c2;
  text-align: center;
  font-size: 16px;
  background-color: #263238;
}

.color--purple {
  color: #c792ea;
}

.color--green {
  color: #ffcb6b;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: -40px;
}

.margin-top {
  margin-top: 20px;
}

.margin-top--large {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.footer {
  line-height: 40px;
  font-size: 12px;
  color: #686868;
}
