<div class="row">
  <div class="col-xs-12 col-sm-7">
    <div class="box">
      <h2>About Me</h2>
      <p>Full-Stack agile software engineer. Excellent technical ability and strong communication skills. I am
        motivated and enthusiastic with new possibilities and take a proactive approach to achieve success in all
        projects. I love to work on complex projects that provide the opportunity for learning, challenge, and
        creativity. I enjoy leading other tech-savvy engineers to create long-lasting, maintainable, and valuable
        software systems that can change the world.</p>
    </div>

    <experience>
    </experience>

    <education>
    </education>
  </div>
  <div class="col-xs-12 col-sm-5">
    <contact>
    </contact>

    <skills>
    </skills>

    <languages>
    </languages>

    <hobbies>
    </hobbies>
  </div>
</div>
