<div class="box clearfix">
  <h2>Contact</h2>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
    <div class="title only pull-right">spyrosikmd@gmail.com</div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-github fa-fw"></span></div>
    <div class="title pull-right">Github</div>
    <div class="description pull-right"><a target="_blank" href="https://github.com/spirosikmd">github.com/spirosikmd</a>
    </div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
    <div class="title pull-right">Linkedin</div>
    <div class="description pull-right"><a target="_blank" href="https://nl.linkedin.com/in/spyrosio">linkedin.com/spyrosio</a>
    </div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
    <div class="title pull-right">Twitter</div>
    <div class="description pull-right"><a target="_blank" href="https://twitter.com/spyros_io">twitter.com/spyros_io</a>
    </div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-google-plus fa-fw"></span></div>
    <div class="title pull-right">Google+</div>
    <div class="description pull-right"><a target="_blank" href="https://www.google.com/+SpyrosIoakeimidis">google.com/+SpyrosIoakeimidis</a>
    </div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-skype fa-fw"></span></div>
    <div class="title pull-right">Skype</div>
    <div class="description pull-right">spirosioakeimidis</div>
  </div>
</div>
