<div class="box">
  <h2>Education</h2>
  <ul id="education" class="clearfix">
    <li>
      <div class="year pull-left">2013</div>
      <div class="description pull-right">
        <h3>Masters Honors</h3>
        <p>Honors College, University of Groningen </p>
        <p>Emphasis in interdisciplinary approaches and introduction to various theories regarding
          leadership,
          such as neurobiology, history, and innovation.</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2013</div>
      <div class="description pull-right">
        <h3>MSc Computing Science</h3>
        <p>University of Groningen </p>
        <p>Emphasis in software architecture, software engineering, and distributed systems.</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2010</div>
      <div class="description pull-right">
        <h3>BSc Automation Engineering and Control Systems Theory</h3>
        <p>Alexander Technological Educational Institute of Thessaloniki </p>
        <p>Emphasis in computer and software engineering, electronics, process systems engineering, control
          systems engineering, and mechatronics.</p>
      </div>
    </li>
  </ul>
</div>
