<div class="box">
  <h2>Languages</h2>
  <div id="language-skills">
    <div class="skill">Greek
      <div class="icons pull-right">
        <div style="width: 100%;" class="icons-red"></div>
      </div>
    </div>
    <div class="skill">English
      <div class="icons pull-right">
        <div style="width: 80%;" class="icons-red"></div>
      </div>
    </div>
    <div class="skill">Dutch
      <div class="icons pull-right">
        <div style="width: 40%;" class="icons-red"></div>
      </div>
    </div>
  </div>
</div>
