<div class="box">
  <h2>Skills</h2>
  <div class="skills">
    <div class="item-skills" data-percent="0.80">JavaScript</div>
    <div class="item-skills" data-percent="0.70">AngularJS</div>
    <div class="item-skills" data-percent="0.60">Python</div>
    <div class="item-skills" data-percent="0.50">Django</div>
    <div class="item-skills" data-percent="0.30">HTML</div>
    <div class="item-skills" data-percent="0.30">CSS</div>
    <div class="skills-legend clearfix">
      <div class="legend-left legend">Beginner</div>
      <div class="legend-left legend"><span>Proficient</span></div>
      <div class="legend-right legend"><span>Expert</span></div>
      <div class="legend-right legend">Master</div>
    </div>
  </div>
</div>
