<div class="box">
  <h2>{{title}}</h2>

  <experience-item where="Usabilla" from="Feb 2015" to="{{ now | date:'MMM yyyy' }}" who="Full-stack Software Engineer">
    <ul class="list-unstyled">
      <li>Frontend development with JavaScript/TypeScript, SASS, AngularJS, Grunt, Webpack, Gulp</li>
      <li>Testing with Karma, Protractor, Jasmine</li>
      <li>API development in PHP</li>
      <li>Go client for Usabilla's public api; <a target="_blank" href="https://github.com/usabilla/gobilla">(gobilla)</a></li>
      <li><a target="_blank" href="https://github.com/usabilla/balls.of.fire">Balls.Of.Fire</a> timing game;</li>
    </ul>
  </experience-item>

  <experience-item where="Paylogic" from="Aug 2013" to="Jan 2015" who="Full-stack Software Engineer">
    <ul class="list-unstyled">
      <li><a target="_blank" href="http://paylogic.com">Paylogic International</a> specializes in Ticketing SaaS.</li>
      <li>Design and development of projects for the core component and ticketing APIs. Python; Flask; Django; MySQL;
        SQLAlchemy; pytest
      </li>
      <li>Software engineering best practices (e.g. functional and unit testing, code reviews, design and code
        documentation).
      </li>
    </ul>
  </experience-item>

  <experience-item where="SEARCH group" from="Feb 2013" to="Aug 2013" who="Software Engineer">
    Design and implementation of tool support (based on previous research of <a target="_blank"
                                                                                href="http://www.cs.rug.nl/search/">SEARCH</a>
    group) for the documentation of architectural decisions and traceability to other design elements. C#
  </experience-item>

  <experience-item where="SEARCH group" from="Apr 2012" to="Jul 2012" who="Software Engineer">
    Design, implementation, and testing of tool support for decision making, based on the Repertory Grid Technique.
    Python; Django; MySQL
  </experience-item>

  <experience-item where="Lafarge Greece" from="Mar 2010" to="Dec 2010" who="Engineer of Automation">
    Development and maintenance of SCADA, PLC, and .NET apps.
  </experience-item>
</div>
