:root {
  --color-gray: #313131;
  --color-white: #ffffff;
  --color-highlight-1: #8963a2;
  --color-highlight-2: #856c3d;
}

body {
  font-family: 'Source Code Pro', sans-serif;
  color: var(--color-gray);
  text-align: center;
  font-size: 16px;
  background-color: var(--color-white);
}

.color--purple {
  color: var(--color-highlight-1);
}

.color--green {
  color: var(--color-highlight-2);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: -40px;
}

.margin-top {
  margin-top: 20px;
}

.margin-top--large {
  margin-top: 40px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.footer {
  line-height: 40px;
  font-size: 12px;
  color: var(--color-gray);
}
