<div class="box clearfix">
  <h2>{{ title }}</h2>

  <contact-item title="spyrosikmd@gmail.com" icon="fa-envelope" titleOnly="true"></contact-item>

  <contact-item title="Github" icon="fa-github">
    <a target="_blank" href="https://github.com/spirosikmd">github.com/spirosikmd</a>
  </contact-item>

  <contact-item title="Linkedin" icon="fa-linkedin">
    <a target="_blank" href="https://nl.linkedin.com/in/spyrosio">linkedin.com/spyrosio</a>
  </contact-item>

  <contact-item title="Twitter" icon="fa-twitter">
    <a target="_blank" href="https://twitter.com/spyros_io">twitter.com/spyros_io</a>
  </contact-item>

  <contact-item title="Google+" icon="fa-google-plus">
    <a target="_blank" href="https://www.google.com/+SpyrosIoakeimidis">google.com/+SpyrosIoakeimidis</a>
  </contact-item>

  <contact-item title="Skype" icon="fa-skype">
    spirosioakeimidis
  </contact-item>
</div>
